* {
    margin: 0;
    padding: 0;
}
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
<!-- Estilo aplicado a toda la pagina -->
#page-wrap{
    margin: 2% auto;
    color: white;
}
#page-wrap > .main{
    border: 3px solid #999;
    padding: 1%;
    margin-bottom: 1px;
    color: black;
}
section > div{
    padding: 20px;
}

header, nav, section{
    background: #eee;
    text-align: center;
}
footer{
    background: #eee;
    text-align: center;
}
nav span{
    margin: 0px 10px 0px 0px; 
    width: 100%;
    display: inline-block;
}
img{
    padding: 30px 10px 10px 10px;
    width: auto;
    height: auto;
    
}
a {
  color: #00B7FF;
}
#ErrorMsgs           { color: #f61; font-size: smaler}
.right 				 {float: right;}

.quiz_img 			 { height: 150px; float: left;}